mat-card{
    width: 100%;
    background-color: #f0f8ff;
}

img{
    height: 100px;
    width: 200px;
}
.social-medias a{
    margin: 5px;
}
.social-medias a img{
  
    height: 20px;
    width: 20px;
}

.whatsapp{
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

.marca{
    position: relative;
    text-align: center;
    margin-top: 10px;
}