
  
<mat-card>

<mat-card-content>

   
    
    <div class="container grid">

   <img src="https://img.freepik.com/vetores-gratis/petshop-com-gato-e-cachorro_9645-763.jpg">
      <div class="row">
    <div class="informations col-8 col-sm-6 col-md-8 col-lg-9" *ngIf="parameters">
      <span class="material-icons">
        home
     
        </span>
     
        {{parameters.address}} -{{parameters.address_complement}}
        <p>{{parameters.zip_code}} {{parameters.city}}-{{parameters.state}}</p>
    
        <div class="telefones">
      <span class="material-icons">
        phone
        
        </span>
       
       
        {{parameters.phones[0].country_code}}
        {{parameters.phones[0].number}}
     
       
      <img class="whatsapp" src="https://imobzi.storage.googleapis.com/image/redes-sociais/whatsapp_gray.svg">
        
        {{parameters.phones[1].country_code}}
        {{parameters.phones[1].number}}
        </div>
    </div>

    

    <div class="social-medias col-4 col-sm-6 col-md-4 col-lg-3 ">
      <p>Siga-nos nas Redes Sociais</p>
    
      <a class="social" href="https://facebook.com/{{parameters.social_networks[0].account}}"><img src="https://imobzi.storage.googleapis.com/image/redes-sociais/facebook_gray.svg"></a>
      <a class="social" href="https://br.linkedin.com/{{parameters.social_networks[1].account}}"><img src="https://imobzi.storage.googleapis.com/image/redes-sociais/linkedin_gray.svg"></a>
      <a class="social" href="https://youtube.com/{{parameters.social_networks[2].account}}"><img src="https://imobzi.storage.googleapis.com/image/redes-sociais/youtube_gray.svg"></a>
      <a class="social" href="https://instagram.com/{{parameters.social_networks[3].account}}"><img src="https://imobzi.storage.googleapis.com/image/redes-sociais/instagram_gray.svg"></a>
    </div>
  </div>
  </div>

  <div class="marca">@Petstore</div>

</mat-card-content>



</mat-card>
