
<div *ngIf="product">
   <a [routerLink]="['/product',product.id]">
    <mat-card>
     
    <img src='{{product.featured_image}}' width="80px" height="200px">
    <mat-card-title>
        {{product.name}}
      </mat-card-title>

      <mat-card-content>
   
        <mat-icon  class="material-icons-outlined"  *ngFor="let star of [1, 2, 3, 4, 5]" >
                 
          
            <span  *ngIf="product.rating_stars>=star" >
                
                star
             </span>

             <span class="material-icons-outlined" *ngIf="star-product.rating_stars==0.5">
                 star_half
             </span>

             
             <span class="material-icons-outlined" *ngIf="star-product.rating_stars>0.5">
                star_border
            </span>
       
    </mat-icon>
   
        <p class="preco-sem-desconto">{{product.value | currency:"BRL"}}</p>
        <h1 class="preco-final" *ngIf="product.promotional_value>0"> {{product.promotional_value | currency: "BRL"}}</h1>
        <h1 class="preco-final" *ngIf="product.promotional_value==0">{{product.value | currency:"BRL"}}</h1>
            
            <p *ngIf="product.installment_available==true && product.promotional_value>0">{{product.installment_count}}x {{product.promotional_value/product.installment_count | currency: "BRL"}}</p>
            <p *ngIf="product.installment_available==true && product.promotional_value==0">{{product.installment_count}}x {{product.value/product.installment_count | currency: "BRL"}}</p>
            <p class="invisible" *ngIf="product.installment_count==0">{{product.installment_count}}x {{product.promotional_value/product.installment_count | currency: "BRL"}}</p>
        
        
      </mat-card-content>
   
</mat-card>
 </a>
</div>