mat-card{
    margin-top: 30px;
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 5px;
}
mat-card-title{

    position: relative;
    color: gray;
    font-size: 15px;
    padding-top: 20px;
    height: 30px;
}

mat-card-content{
    margin-top: auto;
    margin-bottom: 32px;
    margin-top: 70px;
    font-size: 14px;
}
.destaques{
     margin-top: 30px;
}
.preco-final{
    font-weight: bolder;
}
.preco-sem-desconto{

    text-decoration:line-through;
}

span{
    color:yellow;
}

img{
    
    margin-top:10px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   
}

a{
    text-decoration: none;
}

.installment-container{

    height: auto;
}

.invisible{
    color: white;
}