
mat-sidenav{
    width:280px;
}
mat-toolbar{
    height: 48px;
}
button{
<<<<<<< HEAD
    
=======
>>>>>>> 85654045a400dd534dcabbda7a04c1540a4a8ac2
    background-color: #3F51B5;
    color:white;
    border:none;
    cursor: pointer;
}
.menu-button{
    margin-left: 85%;
    
}


mat-sidenav-content {
    min-height: 100vh;
   
    
}

.titulo{
   margin-left: 15px ;
}