
mat-sidenav{
    width:280px;
}
mat-toolbar{
    height: 48px;
}
button{
    background-color: rgb(60, 60, 248);
    color:white;
    border:none;
}
.menu-button{
    margin-left: 85%;
    
}


mat-sidenav-content {
    min-height: 100vh;
   
    
}

.titulo{
   margin-left: 15px ;
}