<mat-sidenav-container>

    <mat-sidenav #sidenav mode="over">

       
        <mat-toolbar color="primary">

        <button  mat-icon-button  aria-label="Menu"
        class="menu-button"  (click)="sidenav.toggle()" color="primary" >
         <mat-icon  >close</mat-icon>
        </button>

        </mat-toolbar>
        <p>Menu ira ficar aqui</p>
    </mat-sidenav>

    <mat-sidenav-content >

        <mat-toolbar color="primary">

        <button mat-icon-button aria-label="Menu"
        class="header-button"  (click)="sidenav.toggle()" >

         <mat-icon >menu</mat-icon>
         </button>

         <span [routerLink]="['/']" class="titulo">Petstore</span>
</mat-toolbar>
   
<router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>



