<mat-sidenav-container>

    <mat-sidenav #sidenav mode="over">

       
        <mat-toolbar color="primary">

        <button  mat-icon-button  aria-label="Menu"
        class="menu-button"  (click)="sidenav.toggle()" color="primary" >
         <mat-icon  >close</mat-icon>
        </button>

        </mat-toolbar>

        

        <div *ngFor="let menu of menus" class="container grid menu">
            <button class="menu-buttons" mat-button (click)="showPage(menu.router, sidenav)">{{menu.name}}</button>
        </div>
        
    </mat-sidenav>

    <mat-sidenav-content >

        <mat-toolbar color="primary">

        <button mat-icon-button aria-label="Menu"
        class="header-button"  (click)="sidenav.toggle()" >

         <mat-icon >menu</mat-icon>
         </button>

         <span [routerLink]="['/']" class="titulo">Petstore</span>
</mat-toolbar>
   
<router-outlet></router-outlet>
<app-footer></app-footer>
    </mat-sidenav-content>

    
</mat-sidenav-container>





