*{
    width: 100%;
}

img{
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid silver;
    
    text-align: center;
    
}

p{
   
    text-align: center;
}

.row{
    cursor:pointer;
}